<script src="../Entities/Gyufacimke.ts"></script>
<button (click)="getTableData()">Save Data</button>
<button *ngIf="gyufacimkeInputData.length === 0" (click)="initializeTable()">Tábla inicializálása</button>
<hot-table
  [settings]="hotSettings"
  [data]="gyufacimkeInputData"
  [hotId]="tableId">
  <hot-column data="sorszam" type="numeric" title="Sorszám"></hot-column>
  <hot-column data="digitalizalasi_azon" type="numeric" title="Digitális azonosító"></hot-column>
  <hot-column data="adatb_azon" type="numeric" title="Adatbázis azonosító"></hot-column>
  <hot-column data="nyilv_vetel_datum" title="Nyilvántartásba vétel dátum" type="date" dateFormat="YYYY.MM.DD"></hot-column>
  <hot-column data="tipus" title="Típus" type="dropdown" [source]="getCimkeTipusNevek()" ></hot-column>
  <hot-column data="meret_x" type="numeric" title="Méret x"></hot-column>
  <hot-column data="meret_y" type="numeric" title="Méret y"></hot-column>
  <hot-column data="megnevezes" title="Megnevezés"></hot-column>
  <hot-column data="kulcsszavak" title="Kulcsszavak"></hot-column>
  <hot-column data="orszag" title="Ország" type="dropdown" [source]="getOrszagNevek()"></hot-column>
  <hot-column data="helyseg" title="Helység"></hot-column>
  <hot-column data="ev" type="numeric" title="Év"></hot-column>
  <hot-column data="cimke_megjegyzes" title="Megjegyzés"></hot-column>
  <hot-column data="nyilvantartas" title="Nyilvántartás" type="dropdown" [source]="getNyilvantartasNevek()"></hot-column>
  <hot-column data="beszerzesi_datum" title="Beszerzési dátum" type="date" dateFormat="YYYY.MM.DD"></hot-column>
  <hot-column data="elado_neve" title="Eladó/Partner neve"></hot-column>
  <hot-column data="bekerulesi_ertek" type="numeric" [numericFormat]="{pattern: '0,0', culture:'hu-HU'}"  title="Bekerülési érték"></hot-column>
  <hot-column data="jarulekos_koltseg" type="numeric" [numericFormat]="{pattern: '0,0', culture:'hu-HU'}" title="Járulékos költség"></hot-column>
  <hot-column data="tarolasi_infomacio" title="Tárolási információ"></hot-column>
  <hot-column data="vetel_megjegyzes" title="Vétel megjegyzés"></hot-column>
  <hot-column data="becsult_ertek" type="numeric" [numericFormat]="{pattern: '0,0', culture:'hu-HU'}" title="Becsült érték"></hot-column>
  <hot-column data="eladas_csere_id" title="Eladás/Csere"></hot-column>
  <hot-column data="id" type="numeric" title="Id"></hot-column>
</hot-table>
