<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">Gyufacímke nyilvántartás</span>
    <span class="example-spacer"></span>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
           [routerLinkActiveOptions]="{exact: true}">Nyilvántartás</a></li>
    <li><a routerLink="/eladas-csere" routerLinkActive="active" ariaCurrentWhenActive="page">Eladás/csere</a></li>
    <span *ngIf="!isLoggedIn()">
      <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Bejelentkezés</a></li>
    </span>
    <span *ngIf="isLoggedIn()">
      <li><a (click)="logout()" routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page">Kijentkezés</a></li>
    </span>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Projektről</a></li>
  </mat-toolbar-row>
</mat-toolbar>

