<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">Gyufacímke nyilvántartás</span>
    <span class="example-spacer"></span>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Nyilvántartás</a></li>
    <li><a routerLink="/eladas-csere" routerLinkActive="active" ariaCurrentWhenActive="page">Eladás/csere</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Projektről</a></li>
  </mat-toolbar-row>
</mat-toolbar>

