.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 50px 0 50px;
}
.success-message{
  background: lightgreen;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}
.error-message{
  background: lightcoral;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-container app-create {
  margin-right: 50px;
}
.card-container app-update-delete {
  flex: 1;
}
