.row{
  margin-bottom: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 50px 0 50px;
}
mat-card-title{
  margin-bottom: 30px;
}
mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-message{
  background: lightgreen;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}
.error-message{
  background: lightcoral;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-container mat-card:first-child {
  margin-right: 50px;
}
.card-container mat-card:last-child {
  flex: 1;
}
