<script src="../create/create.component.ts"></script>
<mat-card>
  <mat-card-header>
    <mat-card-title>Eladás/Csere adatok</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let eladasCsere of eladasCserek" (opened)="panelOpenState = true;
      selectedEladasCsereId = eladasCsere.id" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="eladasCsere.tranzakcio_tipusa == 1">Vevő neve: {{ eladasCsere.vevo }}</span>
            <span *ngIf="eladasCsere.tranzakcio_tipusa == 2">Partner neve: {{ eladasCsere.vevo }}</span>
          </mat-panel-title>

          <mat-panel-description>
          <span>Típusa:
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 1">Eladás</span>
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 2">Csere</span>
          </span>
            <span>Ár: {{ eladasCsere.eladasi_ar }} Ft</span>
            <span>Megjegyzés: {{ eladasCsere.megjegyzes }}</span>
            <span>Dátum: {{ eladasCsere.datum | date }}</span>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <form [formGroup]="eladasCsereUpdateForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 1">Vevő neve</span>
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 2">Partner neve</span>
            </mat-label>
            <input id="partnerNameModify" type="text" formControlName="partnerNameModify"
                   matInput>
            <mat-icon matSuffix>handshake</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 1">Eladási dátum</span>
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 2">Csere dátum</span>
            </mat-label>
            <input id="sellDateModify" matInput [matDatepicker]="picker"
                   formControlName="sellDateModify">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 1">Eladási ár</span>
              <span *ngIf="eladasCsere.tranzakcio_tipusa == 2">Csere ár</span>
            </mat-label>
            <input id="sellPriceModify" type="number" formControlName="sellPriceModify" matInput #price>
            <mat-hint align="end">{{ price.value }} Ft</mat-hint>
            <mat-icon matSuffix>payments</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Megjegyzés</mat-label>
            <textarea id="commentModify" formControlName="commentModify"
                      matInput></textarea>
          </mat-form-field>

          <mat-radio-group aria-label="Eladás/Csere" formControlName="transactionTypeModify">
            <mat-radio-button value="1">Eladás</mat-radio-button>
            <mat-radio-button value="2">Csere</mat-radio-button>
          </mat-radio-group>

          <button mat-flat-button color="primary">Frissítés</button>
        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
