.row{
  margin-bottom: 20px;
}
mat-card-title{
  margin-bottom: 30px;
}
mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-accordion{
  width: 100%;
}
mat-expansion-panel{
  background: #e2e2e2;
}
mat-panel-description{
  display: flex;
  justify-content: space-between;
}
.mat-mdc-form-field {
  margin-left: 8px;
}
button{
  margin-left: 10px;
  margin-right: 10px;
}
mat-icon{
  margin: 0 !important;
}
